---
import Gold from '../assets/coins.png';
import { Image } from 'astro:assets';
import { Converter } from './converter/Converter';
interface Props {
	title: string;
	short: string;
	value?: number | null;
	icon: string;
}

const { title, short, icon, value } = Astro.props;
const cleanPrice = !!value ? Math.round(value * 100) / 100 : null;
---

<li class="link-card">
	<a href="javascript:void(0)">
		<div class="icon">
			<img src={icon} alt={title} />
		</div>
		<h2>
			{title}
		</h2>
		<p class="coin-value">
			{cleanPrice}
			<Image class="mo" src={Gold} alt="Monete d'oro" />
		</p>
		{ !!cleanPrice && (
			<Converter client:load symbol={short} price={cleanPrice} />
		)}
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
		display: grid;
		grid-template-columns: fit-content(140px) 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.icon {
		grid-column: 1;
		grid-row: 1 / span 3;
		padding-right: 20px;
	}
	.icon img {
		width: 120px;
		height: 120px;
		border-radius: 10px;
	}
	.coin-value {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.mo {
		height: 18px;
		width: 18px;
		margin-left: 3px;
	}

	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
